p {
  font-family: Montserrat-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666;
  margin: 0;
}

input {
  outline: none;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

button {
  outline: none !important;
  border: none;
  background: 0 0;
}

button:hover {
  cursor: pointer;
}

.contact1 {
  width: 100px;
  min-height: 100%;
  padding: 15px;
  background: #009bff;
  background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
  background: -o-linear-gradient(left, #0072ff, #00c6ff);
  background: -moz-linear-gradient(left, #0072ff, #00c6ff);
  background: linear-gradient(left, #0072ff, #00c6ff);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container_contact1 {
  margin-left: 20vw;
  margin-right: auto;
  margin-top: 10vw;
  width: 20vw;
  height: 25vw;
  position: fixed;
  left: 25%;
  top: 5%;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  z-index: 15;
  border: groove 3px rgb(110, 110, 255, 0.7);
}

.turnOff {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
}

.contact1_pic {
  width: 296px;
}

.contact1_pic img {
  max-width: 100%;
}

.contact1_form {
  width: 390px;
}

.contact1_form_title {
  display: block;
  font-family: Montserrat-ExtraBold;
  font-size: 24px;
  color: #333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px;
  margin-left: 25px;
}

input.input1 {
  height: 50px;
  border-radius: 25px;
  padding: 0 30px;
}

input.input1 + .shadow_input1 {
  border-radius: 25px;
}

textarea.input1 {
  min-height: 150px;
  border-radius: 25px;
  padding: 12px 30px;
}

textarea.input1 + .shadow_input1 {
  border-radius: 25px;
}

.wrap_input1 {
  position: relative;
  width: 100%;
  z-index: 1;
}

.input1 {
  display: block;
  width: 100%;
  background: #e6e6e6;
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #666;
}

.shadow_input1 {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0 0;
  color: rgba(87, 184, 70, 0.5);
}

.input1:focus + .shadow_input1 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

.container_contact1_form_btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact1_form_btn {
  min-width: 193px;
  margin-left: 20%;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
}

.contact1_form_btn:hover {
  background: #333;
}

.validate_input {
  position: relative;
}

.alert_validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;
  font-family: Montserrat-Medium;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert_validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert_validate:hover:before {
  visibility: visible;
  opacity: 1;
}
