.container{
    width: 50vw;
    height: 15vh;
    margin-top: 5%;
    margin-left: 20%;
    background-color: rgb(238, 238, 238);
    border-radius: 6px;
    box-shadow: 5px 5px #888888;
}
.container input{
    border: none;
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 6px;
    padding: 10px 100px;
}
.container button{
    border: none;
    float: right;
    margin-top: 5%;
    margin-right: 5%;
    border-radius: 6px;
    padding: 10px 100px;
    cursor: pointer;
    background-color: green;
}